/* undo default link styling */
a {
    color: inherit;
    text-decoration: none;
}

/* setup font */
html {
    font-family: 'Raleway', sans-serif;
}

h1 h2 {
    font-weight: bold;
}

footer {
    font-weight: 200;
}

/* HEADER */

/* center the logo & navbar in the header */
header {
    background-color: #3D396C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* center the navbar links in a row */
.nav-bar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

/* customise padding for the links */
.nav-bar-link {
    margin-left: 50px;
    margin-right: 50px;
}

.nav-bar-link-label {
    margin-top: 0;
}

/* add colours to links & change colour on hover */
.nav-bar-link-label {
    color: white;
    transition: color 0.5s;
}

.nav-bar-link-label:hover {
    color: gray;
}

/* MAIN */

/* classes to show & hide page sections */
.page {
    display: none;
}

.active {
    display: block;
}

/* center pages */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* home page */

#home {
    text-align: center;
}

/* music page */

#music {
    /* allows for two columns of images with some padding */
    max-width: 700px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px 40px;
}

/* FOOTER */

/* make the footer 'sticky' */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

/* styling */
footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    justify-content: space-evenly;
    align-content: space-between;
    gap: 10px;

    margin: 15px 50px 15px 50px;
}

/* center all content inside the footer by default */
footer>* {
    display: flex;
    justify-content: center;
    align-content: center;
}

.external-links {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    justify-content: space-evenly;
    align-content: space-between;
    gap: 10px;

    flex-grow: 2;
    max-width: 30vw;
}

/* mobile: move external links to the top & allow them to grow to full width */
@media all and (max-width: 700px) {
    footer>* {
        flex: 1 100%;
    }

    .external-links {
        order: -1;
        max-width: 100vw;
    }
}